@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: 'Roboto',sans-serif;
    overflow: hidden;
}
.hamburger-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
    position: fixed;
    top:5%;
    right: 5%;
    cursor: pointer;
    overflow: hidden;
}
.hamburger-button span{
    background-color: #000;
    height: 4px;
    margin: 3px;
    width: 40px;
    border-radius: 4px;
    transition: 0.5s;
}
.hamburger-button span:nth-child(1){
    width: 25px;
}
.hamburger-button span:nth-child(3){
    width: 15px;
}
.hamburger-button.active span:nth-child(2){
    transform: translateX(60px);
}
.hamburger-button.active span:nth-child(1){
    width: 40px;
    transform:translateY(10px) rotate(45deg)

}
.hamburger-button.active span:nth-child(3){
    width: 40px;
    transform: translateY(-10px) rotate(-45deg)
}
.sidebar{
    position: fixed;
    min-width:300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 228, 228);
    text-align: center;
    padding-top: 30px;
    transform: translateX(-500px);
    transition: 1s;
}
.sidebar.active{
    transform: translateX(0);
}
.sidebar ul li{
    list-style: none;
    margin: 50px auto;
}
.sidebar ul li a:link{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 2.2em;
    font-weight: lighter;
}
#main{
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
#main section{
    scroll-snap-align: start;
    height: 100vh;
}
#main #home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home .header{
    font-size: 5em;
    text-align: center;
}
#home .sub-header{
    /* font-size: 2.7em;
    text-align: center; */
}
#home .sub-header .typewriter{
    width:0;
}

#home .sub-title{
    font-size:1.6em;
    text-align:center;
    color:#aaa;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
#main #about{
    background-color: rgb(252, 252, 252);
}
#main #project{
    background-color: rgb(79, 81, 83);
}

#main #contact{
    background-color: rgb(255, 254, 254);
}