@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: 'Roboto',sans-serif;
    overflow: hidden;
}
.hamburger-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
    position: fixed;
    top:5%;
    right: 5%;
    cursor: pointer;
    overflow: hidden;
}
.hamburger-button span{
    background-color: #000;
    height: 4px;
    margin: 3px;
    width: 40px;
    border-radius: 4px;
    transition: 0.5s;
}
.hamburger-button span:nth-child(1){
    width: 25px;
}
.hamburger-button span:nth-child(3){
    width: 15px;
}
.hamburger-button.active span:nth-child(2){
    transform: translateX(60px);
}
.hamburger-button.active span:nth-child(1){
    width: 40px;
    transform:translateY(10px) rotate(45deg)

}
.hamburger-button.active span:nth-child(3){
    width: 40px;
    transform: translateY(-10px) rotate(-45deg)
}
.sidebar{
    position: fixed;
    z-index: 1;
    min-width:300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    text-align: center;
    padding-top: 30px;
    transform: translateX(-500px);
    transition: 1s;
}
.sidebar.active{
    transform: translateX(0);
}
.sidebar ul li{
    list-style: none;
    margin: 50px auto;
    font-size: 2.2em;
}
.sidebar ul li a:link{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight: lighter;
}
.sidebar ul li a:visited{
    color: rgb(63, 63, 63);
}
.sidebar ul li a:active{
    color: rgb(63, 63, 63);
}
.sidebar ul li a:hover{
    border-bottom:4px solid rgb(34, 80, 150);
}
#main{
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
#main section{
    scroll-snap-align: start;
    height: 100vh;
}
#main #home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 245, 240);
    flex-wrap: wrap;
}
#home .header{
    font-size: 5em;
    text-align: center;
}
#home .sub-header{
    font-size: 1.8em;
    text-align: center;
    font-weight: 300;
}
#home .typewriter{
		overflow: hidden;
		border-right: .15em solid black;
		white-space: nowrap;
		letter-spacing: 5px;
		animation: typing 5s steps(50, end),blink-caret .75s step-end infinite;
}

@keyframes typing {
	0% {
		width: 0;
	}
    25%{
        width: 0;
    }
	100% {
		width: 25vw;
	}
}

@keyframes blink-caret {
	from,to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}
#arrow{
    position: absolute;
    bottom: 0;
}

#home .sub-title{
    font-size:1.6em;
    text-align:center;
    color:#aaa;
}
#main #about{
    background-color: rgb(252, 252, 252);
}

#main #about .about-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1em;
    line-height: 2.5;
    gap:10px;
    margin-top: 30px;
}
@media screen and (max-width:840px) {
    #main #about .about-content{
        font-size: .8em;
    }
}
#main #about .about-content .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}
#main #about .about-content .card-icon{
    font-size:2.6em;
}
#main #project{
    background-color: rgb(244, 245, 240);
}

#main #contact{
    background-color: rgb(255, 254, 254);
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.title h2{
    font-size: 2.3em;
}
.title span{
    background-color: black;
    width: 15%;
    height: 3px;
    margin:0 5px;
}
