@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;

    --text-light: hsl(0, 0%, 0%);
    --bkg1-light: hsl(0, 0%, 93%);
    --bkg2-light: hsl(26, 37%, 96%);
    --bkg3-light: hsl(0, 0%, 100%);
    --shadow-light: 20px 20px 50px hsl(255, 36%, 17%, .35),
        -30px -30px 50px hsl(26, 37%, 96%, .15);

    --text-dark: rgb(255, 255, 255);
    --bkg1-dark: hsl(218, 15.4%, 10.2%);
    --bkg2-dark: hsl(218, 14.7%, 18.7%);
    --bkg3-dark: rgb(0, 0, 0);

    --shadow-dark: 20px 20px 50px hsl(255, 36%, 17%, .35),
        -30px -30px 50px hsl(26, 37%, 26%, .15);

}

@media(prefers-color-scheme: dark) {
    :root {
        --text: var(--text-dark);
        --bkg1: var(--bkg1-dark);
        --bkg2: var(--bkg2-dark);
        --bkg3: var(--bkg3-dark);
        --shadow: var(--shadow-dark);
    }
}

@media(prefers-color-scheme: light) {
    :root {
        --text: var(--text-light);
        --bkg1: var(--bkg1-light);
        --bkg2: var(--bkg2-light);
        --bkg3: var(--bkg3-light);
        --shadow: var(--shadow-light);
    }
}

[color-scheme="dark"] {
    --text: var(--text-dark);
    --bkg1: var(--bkg1-dark);
    --bkg2: var(--bkg2-dark);
    --bkg3: var(--bkg3-dark);
    --shadow: var(--shadow-dark);
}

[color-scheme="light"] {
    --text: var(--text-light);
    --bkg1: var(--bkg1-light);
    --bkg2: var(--bkg2-light);
    --bkg3: var(--bkg3-light);
    --shadow: var(--shadow-light);
}

.text {
    color: var(--text);
}


.bkg1 {
    color: var(--bkg1);
}

.bkg2 {
    color: var(--bkg2);
}

.bkg2--stroke {
    stroke: var(--bkg2);
}

.bkg2--fill {
    fill: var(--bkg2);
}

/* link color */
.text-link {
    color: var(--text);
}

.bkg1-link {
    color: var(--bkg1);
}

.bkg2-link {
    color: var(--bkg2);
}

/* background color */

.text-bg {
    background-color: var(--text);
}

.bkg1-bg {
    background-color: var(--bkg1);
}

.bkg2-bg {
    background-color: var(--bkg2);
}

.bkg3-bg {
    background-color: var(--bkg3);
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 5;
    cursor: pointer;
    overflow: hidden;
}

.hamburger-button span {
    background-color: #000;
    height: 4px;
    margin: 3px;
    width: 40px;
    border-radius: 4px;
    transition: 0.5s;
}

.hamburger-button span:nth-child(1) {
    width: 25px;
}

.hamburger-button span:nth-child(3) {
    width: 15px;
}

.hamburger-button.active span:nth-child(2) {
    transform: translateX(60px);
}

.hamburger-button.active span:nth-child(1) {
    width: 40px;
    transform: translateY(10px) rotate(45deg)
}

.hamburger-button.active span:nth-child(3) {
    width: 40px;
    transform: translateY(-10px) rotate(-45deg)
}

.light-dark-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 70px;
    width: 70px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
    position: fixed;
    top: 20%;
    right: 5%;
    z-index: 5;
    cursor: pointer;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    z-index: 100;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    transform: translateX(-500px);
    transition: 1s;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul li {
    list-style: none;
    margin: 50px auto;
    font-size: 2.2em;
}

.sidebar ul li a:link {
    text-decoration: none;
    font-weight: lighter;
}

.sidebar ul li a:hover {
    border-bottom: 4px solid rgb(34, 80, 150);
}

#main {
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    height: 100vh;
}

#main section {
    scroll-snap-align: start;
    height: 100vh;
}

#main #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#home .header {
    font-size: 5em;
    text-align: center;
}

#home .sub-header {
    font-size: 1.8em;
    text-align: center;
    font-weight: 300;
}

#home .typewriter {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    letter-spacing: 5px;
    animation: typing 5s steps(50, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    25% {
        width: 0;
    }

    100% {
        width: 25vw;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: var(--text);
    }
}

#home .sub-title {
    font-size: 1.6em;
    text-align: center;
    color: #aaa;
}


#main #about .about-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1em;
    line-height: 2.5;
    margin-top: 30px;
}

@media screen and (max-width:840px) {
    #main #about .about-content {
        font-size: .8em;
    }
}

#main #about .about-content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}
@media screen and (min-width:1200px) {
    #main #about .about-content .card:nth-child(2){
        border-right: 2px solid var(--text);
        border-left: 2px solid var(--text);
        margin-right: 10px;
        margin-left: 10px;
    }
    #main #about .about-content .card:nth-child(2) > .card-body{
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 10%;
    }

}
#main #about .about-content .card-icon {
    font-size: 2.6em;
}

#main #project{
    position: relative;
}
.slider-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70%;
    width: 70%;
    overflow: hidden;
    margin:0 auto;
    margin-top: 30px;
    position: relative;
}
.slide{
    opacity: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease;
    z-index: 1;
}
.slide .app-title{
    color: #fff;
    font-size: 2em;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    background-color: rgba(0, 0, 0, .3);
}
.slide .app-title button{
     border: 2px solid #fff;
     border-radius: 10px;
     background-color: rgba(0, 0, 0, .4);
     padding:10px;
     color:#fff;
     font-size: .6em;
     outline: 0;
}
.slide .app-title button:hover{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding:10px;
    color:#000;
    font-size: .6em;
    outline: 0;
    cursor: pointer;
}
.slide.active{
    opacity: 1;
}
.arrow {
    position: absolute;
    background-color: transparent;
    padding:20px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: 30px;
}
.arrow:focus{
    outline: 0;
}
.left-arrow{
    left:calc(15vw - 65px);
}
.right-arrow{
    right:calc(15vw - 65px);
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.title h2 {
    font-size: 2.3em;
}

.title span {
    width: 15%;
    height: 3px;
    margin: 0 5px;
}